version: "3.8"

services:
  mc-server:
    build: . 
    container_name: my-mc-server
    image: my-custom-mc:v1
    
    ports:
      - "25565:25565" 
    
    environment:
      - EULA=TRUE            
      - TYPE=PAPER           
      - VERSION=LATEST       
      - MEMORY=2G            
      - ONLINE_MODE=FALSE    
      - MOTD=DevOps Project Server  
      
    volumes:
      - ./data:/data         
    
    restart: unless-stopped  
    
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4G